
avto_info/abw.csv
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/python_project.iml
.idea/Untitled-1.groovy
.idea/vcs.xml
.idea/workspace.xml
cours/week_6/Проходной балл/output.txt
cours/week_7/Пересечение множеств/in.txt
cours/week_7/Пересечение множеств/out.txt
OterFiles/numbers.db
.idea/codeStyles/codeStyleConfig.xml
